* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: #c6c6c6; }

.centrarDatos {
  text-align: center;
  margin-top: 3%; }
  .centrarDatos p {
    margin-top: 10px;
    font-size: 20px; }

.navBar {
  margin-top: 1%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #00c700; }
  .navBar ul li {
    flex-wrap: nowrap;
    display: inline;
    margin-right: 2%;
    list-style: none; }
    .navBar ul li a {
      text-decoration: none;
      padding-right: 1%;
      color: black; }
      .navBar ul li a:hover {
        color: white;
        transition: 0.4s;
        text-decoration: none; }

.footer {
  background-color: #3d3d3d;
  margin-top: 3%;
  padding-bottom: 2%; }
  .footer i {
    font-size: 45px; }
  .footer .contenidoFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center; }
    .footer .contenidoFooter h2 {
      color: white;
      padding-top: 1%; }
  .footer .anclajeFooter {
    padding-top: 1%; }
    .footer .anclajeFooter a {
      color: #00c700; }
      .footer .anclajeFooter a:hover {
        color: white; }
  .footer .linkedin {
    margin-left: 10%;
    margin-right: 10%; }

.centrarTitulos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  /* flex-wrap: wrap; */ }

h1 {
  margin-top: 2%;
  margin-right: 3%;
  font-size: 50px;
  color: #00c700;
  text-shadow: -5px -2px 5px black; }

.filtros {
  margin-top: 2%;
  margin-left: 4%;
  display: flex;
  flex-direction: column; }

.productos {
  margin-top: 2%;
  margin-left: 4%; }

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; }

.item {
  width: 285px;
  background-color: #E5E5E5;
  padding: 10px; }
  .item:hover {
    background-color: #3d3d3d;
    color: white;
    transform: scale(1.04);
    transition: 0.5s; }

.menus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3%; }
  .menus .menu1 {
    font-size: 20px; }
  .menus .labelProducto {
    margin-right: 13%;
    margin-left: 15%;
    font-weight: bold; }
  .menus .menu2 {
    font-size: 20px; }

.labelProducto {
  font-size: 20px;
  text-decoration: underline; }

.efecto:hover {
  background-color: #3d3d3d;
  color: white;
  border-radius: 15px;
  transform: scale(1.04);
  transition: 0.7s; }

.lista, .lista2 {
  list-style: none;
  font-size: 20px; }

.lista2 li {
  color: #00b200; }

.imagenUbi {
  width: 60%; }

.gridDatos {
  display: grid;
  grid-template-rows: 34px 34px 100px;
  gap: 40px;
  margin-top: 2%; }
  .gridDatos .form {
    text-align: center;
    font-size: 20px; }

.centrarCarga {
  text-align: center; }

.botonCarga {
  border: 1px solid black;
  border-radius: 7px;
  font-weight: bold;
  height: 50px;
  font-size: 15px;
  background-color: #00c700; }

.contactos {
  color: #00b200; }

ul {
  list-style: none;
  font-size: 20px; }
  ul li {
    margin-bottom: 10px; }
    ul li .formas {
      color: #00b200; }
    ul li .forma1 {
      color: #00b200; }
    ul li .forma2 {
      color: #0078ff; }
    ul li .forma3 {
      color: #ff0000; }

.botonEliminar, .botonComprar {
  border: 1px solid black;
  border-radius: 7px;
  font-weight: bold;
  height: 50px;
  font-size: 15px;
  background-color: red;
  margin-top: 2%;
  width: 150px; }

.botonComprar {
  margin-left: 2%;
  width: 100px;
  background-color: #00c700; }

.articulos {
  margin-top: 2%;
  display: flex; }
  .articulos section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    width: 100%; }
