.gridDatos{     
    display: grid;
    grid-template-rows: 34px 34px 100px;
    gap: 40px;
    margin-top: 2%;
    .form{              
        text-align: center;
        font-size: $tamañoFuente;
    }
}

.centrarCarga{
    text-align: center;
}

.botonCarga{
    @include botones;
    font-size: $fuentePeque;
    background-color: map-get($colores, verde);
}

.contactos{
    color: map-get($colores, verdeL);
}
