.botonEliminar{                
    @include botones;
    font-size: $fuentePeque;
    background-color: red;
    margin-top: 2%;
    width: 150px;
}
.botonComprar{
    @extend .botonEliminar;
    margin-left: 2%;
    width: 100px;
    background-color: map-get($colores, verde);
}