.efecto:hover{
    background-color: #3d3d3d;
    color: map-get($colores, hover);
    border-radius: $fuentePeque;
    transform: scale(1.04);
    transition: 0.7s;
}

.lista{
    list-style: none;
    font-size: $tamañoFuente;
}

.lista2{
    @extend .lista;
    li{
        color: map-get($colores, verdeL);     
    }
}

.imagenUbi{
    width: 60%;
}
